
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-inner-wrap">
				<div class="logo-inner-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo-footer.svg" alt="">
					</a>
				</div>
				<div class="pays-inner-wrap">
					<div class="footer-title">Оплата возможна</div>
					<div class="elm-photo">
						<img src="./img/main/pays.svg" alt="">
					</div>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<div class="footer-title">Магазин</div>
				<div class="menu-content-wrap">
					<div class="menu-wrap">
						<ul class="menu">
							<li><a href="">Гоночные кокпиты</a></li>
							<li><a href="">Авиа кокпиты</a></li>
							<li><a href="">Подвижные платформы</a></li>
							<li><a href="">Рули</a></li>
							<li><a href="">Педали</a></li>
							<li><a href="">VR-очки</a></li>
							<li><a href="">Компьютеры</a></li>
							<li><a href="">Аксессуары</a></li>
						</ul>
					</div>
					<div class="info-wrap">
						<div class="info-title">ВТБ Арена, метро Динамо</div>
						<p>Работаем с 9:00 до 21:00</p>
						<p><a href="tel:81231231212">+ 7 (123) 123-12-12</a></p>
						<p><a href="mailto:info@info.ru">info@info.ru</a></p>
						<div class="info-action"><a href="" class="link-map">Посмотреть на карте &gt;&gt;</a></div>
					</div>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<div class="footer-title">Клуб</div>
				<div class="menu-content-wrap">
					<div class="menu-wrap">
						<ul class="menu">
							<li><a href="">Цены</a></li>
							<li><a href="">ИГРЫ</a></li>
							<li><a href="">ЖЕЛЕЗО</a></li>
							<li><a href="">ИНТЕРЬЕР</a></li>
							<li><a href="">КАК НАС НАЙТИ</a></li>
						</ul>
					</div>
					<div class="info-wrap">
						<div class="info-title">ВТБ Арена, метро Динамо</div>
						<div class="info-title">ТЦ Клен, метро Бабушкинская</div>
						<p>Работаем круглосуточно</p>
						<div class="info-action"><a href="" class="link-map">Посмотреть на карте &gt;&gt;</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-inner-wrap">
				<div class="info-wrap">2024 г. Все права защищены.</div>
				<div class="info-wrap"><a href="">Политика конфиденциальности</a></div>
				<div class="info-wrap">Сайт разработан <a href="">ВебУспех</a></div>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->

<div class="popup-outer-box" id="popup-callback">
	<div class="popup-box">
		<!-- <a href="" class="btn-action-ico ico-close js-popup-close"></a> -->
		<div class="popup-title-wrap">
			<div class="popup-title">Остались вопросы?</div>
			<p>Напишите нам и мы обязательно свяжемся с вами,  ближайшее время</p>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" placeholder="Ваше имя" class="form-input">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field field-half">
						<input type="tel" placeholder="Телефон" class="form-input">
					</div>
					<div class="frm-field field-half">
						<input type="email" placeholder="Email" class="form-input">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<textarea class="form-input" placeholder="Текст вопроса"></textarea>
					</div>
				</div>

				<div class="frm-row-submit">
					<div class="frm-field field-info">
						Нажимая на кнопку даю согласие на обработку <a href="">персональных данных</a>
					</div>
					<div class="frm-field field-button">
						<button type="submit" class="btn button-border">Задать вопрос</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->